In [2]:
#tuple empty
tuple1 = ()
print(tuple1)

# tuple with strings
tuple1 = ("Fahim","Md.","Riaz")
print(tuple1)

#tuple from a list
list1 = [1,2,3,4,5,6,7,8,9]
tuple1 = tuple(list1)
print(tuple1)

()
('Fahim', 'Md.', 'Riaz')
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
# tuple with mixed data types
tuple1 = (5,"Fahim",6,"Md",7,"riaz")
print(tuple1)

(5, 'Fahim', 6, 'Md', 7, 'riaz')

In [1]:
#creating nested tuple
tuple1 = (1,2,3,4,5,6,7,8)
tuple2 = ("Fahim","Md","Riaz")
tupleFinal = (tuple1,tuple2)
print(tupleFinal)

((1, 2, 3, 4, 5, 6, 7, 8), ('Fahim', 'Md', 'Riaz'))

In [2]:
#tuple with repetition
tuple1 = ('geeks',)*3
print(tuple1)

('geeks', 'geeks', 'geeks')

In [4]:
# accessing tuple
# with indexing
tuple1 = tuple("Geeks")
print(tuple1)
print(tuple1[0])

('G', 'e', 'e', 'k', 's')
G

In [5]:
#tuple unpacking
tuple1 = ("Fahim","Md","Riaz")
firstName,middleName,lastName = tuple1
print(firstName,middleName,lastName)

Fahim Md Riaz

In [6]:
#concatenate
tuple1 = (1,2,3,4,5,6,7)
tuple2 = ("Fahim","Md","Riaz")

#concate
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 'Fahim', 'Md', 'Riaz')