In [3]:
a = 5 
print("Type of a  : ",type(a))

b = 5.0

print("Type of b : ",type(b))

c = 2 + 4j
print("Type of c : ",type(c))

Type of a  :  <class 'int'>
Type of b :  <class 'float'>
Type of c :  <class 'complex'>

In [4]:
# string with single quote
string1 = 'Welcome to the geeks world'
print(string1)

Welcome to the geeks world

In [ ]:
string1 = "string with double quotes"
print(string1)

In [5]:
# creating string with triple quotes 
string1 = '''This is a string of tripple qoutes'''
print(string1)

This is a string of tripple qoutes

In [7]:
string1 = """

Thi sis a 
double line

"""
print(string1)

Thi sis a
double line

In [9]:
#accessing string characters
string1 = "this is a string to access"
#accessing with positive index
print(string1[0])

#acccessing with negative index
print(string1[-1])

t
s

In [10]:
#createing a list
List = []
print("Initial blank list : ")
print(List)

Initial blank list :
[]

In [11]:
#creating list with string
List = ['data for data']
print(List)

['data for data']

In [14]:
#creating list with multiple values
List = ["Fahim","Md","Riaz"]
print(List)
#accessing list
print(List[0])
print(List[1])

#accessing with negative indexing
print(List[-1])

['Fahim', 'Md', 'Riaz']
Fahim
Md
Riaz

In [15]:
#creating a empty tuple
tuple1 = ()
print(tuple1)

()

In [16]:
#creating tuple with string
tuple1 = ("Geek","Geek")
print(tuple1)

('Geek', 'Geek')

In [17]:
#creatin tuple with number
tuple1 = (1,2,3,4,5,6,7,8)
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
#creatin tuple with the build in function
tuple1 = tuple("Fahim")
print(tuple1)

('F', 'a', 'h', 'i', 'm')

In [20]:
#creating tuple with nested tuple
tuple1 = (1,2,3,4,5,6,7)
tuple2 = ("Fahim","Md")
tuple3 = (tuple1,tuple2)
print(tuple3)

((1, 2, 3, 4, 5, 6, 7), ('Fahim', 'Md'))

In [ ]:
#like other sequence type variable
#tuple can be accessed directly by index

#first create tuple with list