In [3]:
a = 5 
print("Type of a  : ",type(a))

b = 5.0

print("Type of b : ",type(b))

c = 2 + 4j
print("Type of c : ",type(c))

Type of a  :  <class 'int'>
Type of b :  <class 'float'>
Type of c :  <class 'complex'>

In [4]:
# string with single quote
string1 = 'Welcome to the geeks world'
print(string1)

Welcome to the geeks world

In [ ]:
string1 = "string with double quotes"
print(string1)

In [5]:
# creating string with triple quotes 
string1 = '''This is a string of tripple qoutes'''
print(string1)

This is a string of tripple qoutes

In [7]:
string1 = """

Thi sis a 
double line

"""
print(string1)

Thi sis a
double line

In [9]:
#accessing string characters
string1 = "this is a string to access"
#accessing with positive index
print(string1[0])

#acccessing with negative index
print(string1[-1])

t
s

In [10]:
#createing a list
List = []
print("Initial blank list : ")
print(List)

Initial blank list :
[]

In [11]:
#creating list with string
List = ['data for data']
print(List)

['data for data']

In [14]:
#creating list with multiple values
List = ["Fahim","Md","Riaz"]
print(List)
#accessing list
print(List[0])
print(List[1])

#accessing with negative indexing
print(List[-1])

['Fahim', 'Md', 'Riaz']
Fahim
Md
Riaz

In [15]:
#creating a empty tuple
tuple1 = ()
print(tuple1)

()

In [16]:
#creating tuple with string
tuple1 = ("Geek","Geek")
print(tuple1)

('Geek', 'Geek')

In [17]:
#creatin tuple with number
tuple1 = (1,2,3,4,5,6,7,8)
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
#creatin tuple with the build in function
tuple1 = tuple("Fahim")
print(tuple1)

('F', 'a', 'h', 'i', 'm')

In [20]:
#creating tuple with nested tuple
tuple1 = (1,2,3,4,5,6,7)
tuple2 = ("Fahim","Md")
tuple3 = (tuple1,tuple2)
print(tuple3)

((1, 2, 3, 4, 5, 6, 7), ('Fahim', 'Md'))

In [4]:
#like other sequence type variable
#tuple can be accessed directly by index

#first create tuple with list
tuple1 = tuple([1,2,3,4,5,6,7,8])
print(tuple1)

#accessing tuple with positive index
print(tuple1[1])
print(tuple1[0])

#accessing tuple with negative index
print(tuple1[-1])

(1, 2, 3, 4, 5, 6, 7, 8)
2
1
8

In [5]:
#creating a empty set 
set1 = set()
print(set1)

set()

In [6]:
# creating set with string
set1 = set("geeks for geeks")
print(set1)

{'r', 'k', 'o', 'g', 's', 'f', 'e', ' '}

In [7]:
#creating set with list
set1 = set([1,2154,4,6,7,1,5,6,8,17,18,19])
print(set1)

{1, 4, 5, 6, 7, 8, 2154, 17, 18, 19}

In [9]:
#set wtih multiple data types array
set1 = set(["data",1,2.0])
print(set1)

{1, 2.0, 'data'}

In [10]:
#accessing set items
# can not be done with index ,because set does not any set indexing
set1 = set(["Geeks","For","Geeks"])

for item in set1:
    print(item)

For
Geeks

In [11]:
#dictionary data type

#creating empty dictionary
dict1 = {}

print(dict1)

{}

In [12]:
#dictionary with integer keys

dict1 = { 1 : "Hello", 2 : "World", 3 : "Fahim"}
print(dict1)

{1: 'Hello', 2: 'World', 3: 'Fahim'}

In [13]:
# dictionary with mixed keys

dict1 = { "name" : "Fahim", 1 : "Riaz", 2 : [1,2]}
print(dict1)

{'name': 'Fahim', 1: 'Riaz', 2: [1, 2]}

In [14]:
# creating dictionary with dict method

dict1 = dict({1:"Fahim", 2:"hello"})
print(dict1)

{1: 'Fahim', 2: 'hello'}

In [16]:
# dictionary with dict method and with list tuple
dict1 = dict([(1,"fahim"),(2,"md")])
print(dict1)

{1: 'fahim', 2: 'md'}

In [20]:
#accessing dictionary 
# with key

dict1 = {1 : "Fahim", "name" : "MD",3 : "Riaz"}

#accessing dictionary
print(dict1[1])
print(dict1["name"])
# dictionary access with get() function
print(dict1.get(3))
print(dict1.get("Name"))

Fahim
MD
Riaz
None

In [21]:
#string
a = "This is a string"
print(a)
b= 'This is a string'
print(b)
c = """This is a string"""
print(c)

This is a string
This is a string
This is a string

In [25]:
# declaring a list
l = [1,"a","String",1+2]
print(l)

# appending to the list
l.append("d")
print(l)

# using pop() method to remove last element from the list 
l.pop()
print(l)

# displaying second element of the  list
print(l[1])

[1, 'a', 'String', 3]
[1, 'a', 'String', 3, 'd']
[1, 'a', 'String', 3]
a

In [26]:
tup = ( 1,"a","string",1 + 2)
print(tup)

#accesing tuple
print(tup[2])

(1, 'a', 'string', 3)
string

In [29]:
#while
i = 1
while ( i < 100):
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [31]:
s = "Hello world"
for i in s : 
    print(i)

H
e
l
l
o

w
o
r
l
d

In [33]:
l = [1,2,3  ,4,5,6]

for i in l:
    print(i)

1
2
3
4
5
6

In [34]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9